.Main {
  color: #9e9e9e;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.introduce-heading {
  font-size: 40px;
  font-weight: 900;
  -webkit-user-select: none;
}

.introduce-name {
  color: #e31b6d;
}