.project-detail {
  width: 100%;
  height: auto;
  display: inline-block;
}

.project-thumbnail {
  position: relative;
  text-align: center;
  width : 250px;
  height : 250px;
  border-radius: 30px;
  overflow: hidden;
  margin : auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.project-thumbnail:hover .overlay{
  background: rgba(0, 0, 0, .3);
}

.project-thumbnail img {
  width : 250px;
  height : 250px;
}

.project-thumbnail-button {
  position: absolute;
  width: 250px;
  left:0;
  top: 125px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.project-thumbnail-button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.project-thumbnail:hover .project-thumbnail-button {
  opacity: 1;
}

.project-title-and-summary {
  text-align: center;
  width : 250px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
.project-title {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  color: rgb(97, 97, 97);
}

.project-summary-description {
  font-family: Raleway;
  
  color: rgb(97, 97, 97, 0.8);
}